
code/code.iml
code/.idea/vcs.xml
code/.idea/misc.xml
code/.idea/compiler.xml
code/.idea/jarRepositories.xml
code/.idea/uiDesigner.xml
sprawko/Sprawozdanie-projekt-1-klasyfikacja.aux
sprawko/Sprawozdanie-projekt-1-klasyfikacja.fdb_latexmk
sprawko/Sprawozdanie-projekt-1-klasyfikacja.fls
sprawko/Sprawozdanie-projekt-1-klasyfikacja.log
sprawko/Sprawozdanie-projekt-1-klasyfikacja.pdf
sprawko/Sprawozdanie-projekt-1-klasyfikacja.synctex.gz
